#iu{
background-color:#006680;
min-height:50px;
width:100%;
float:left;
}
.inner
{
background-color:#009999;
height:300;
width:180px;
float:left;
margin:20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#white
{
background-color:white;
height:80px;
width:100%;

}
#iutime
{
background-color:grey;
min-height:800px;
width:100%;
}
.iutimenews
{
background-color:#f2f2f2;
height:400px;
width:250px;
float:left;
margin:40px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#event{
min-height:650px;
background-color:404040;


}
.funker
{
background-color:#f2f2f2;
height:300px;
width:250px;
margin:40px;
}
#iuexce
{
background-color: #f2f2f2;
min-height:250px;

}
#company
{
background-color: #f2f2f2;
min-height:250px;
width:100%;
float:left;
}
.com{
min-height:100px;
width:200px;
margin:30px;
float:left;
}
